# Ignorar todos os arquivos .json
*.json
PriceMonitorAPI/appsettings.json

# Ignorar a pasta de logs
results/

# Ignorar diretórios
PriceMonitorAPI/Migrations
PriceMonitorAPI/Helper/*
PriceMonitorAPI/Migrations
PriceMonitorAPI/bin
PriceMonitorAPI/obj

# Ignorar arquivos do Visual Studio Code
.vscode/

# Ignorar arquivos de build do C#
*.dll
*.exe
